html {
  font-size: 1rem;
}

html, body {
  font-family: 'Inconsolata', monospace;
  padding: 0;
  color: #333;
  font-weight: 300;
}

body {
  margin: 100px 0;
}

.main {
  margin: 0 auto;
  width: 600px;
}

ul {
  padding: 0;
}

ul > li {
  list-style-type: none;
  margin-bottom: 8px;
}

ol > li {
  margin-bottom: 12px;
}

a, a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: crimson;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
}

h2 {
  margin-top: 70px;
  color: crimson;
}

h3 {
  font-weight: bold;
  color: #666;
}

.munchtime {
  color: crimson;
}

@media (max-device-width: 768px) {
  html {
    font-size: 2.5rem;
  }
}
