
/* Older browsers */
html { font-size: 30px; }

/* Modern browsers only need this one */

@media screen and (min-width: 25em){
  html { font-size: calc( 30px + (24 - 30) * (100vw - 400px) / (800 - 400) ); }
}

/* Safari <8 and IE <11 */
@media screen and (min-width: 25em){
  html { font-size: calc( 30px + (24 - 30) * (100vw - 400px) / (800 - 400) ); }
}
@media screen and (min-width: 50em){

  html { font-size: calc( 30px + (24 - 30) * (100vw - 400px) / (800 - 400) ); }
}

html, body {
  font-family: 'Inconsolata', monospace;
  padding: 0;
  color: #333;
  font-weight: 300;
}

body {
  margin: 100px 0;
}

.main {
  margin: 0 auto;
  width: 600px;
}

ul {
  padding: 0;
}

ul > li {
  list-style-type: none;
  margin-bottom: 8px;
}

ol > li {
  margin-bottom: 12px;
}

a, a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: crimson;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
}

h2 {
  margin-top: 70px;
  color: crimson;
}

h3 {
  font-weight: bold;
  color: #666;
}

.munchtime {
  color: crimson;
}
