html, body {
  font-family: 'Inconsolata', monospace;
  margin: 40px auto 0;
  width: 800px;
  text-align: center;
  padding: 0;
  color: #333;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 8px;
}

a, a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 106);
  text-decoration: none;
}